.title {
	COLOR: #000080; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 13pt; FONT-WEIGHT: bold
}
.s {
	FONT-FAMILY: Verdana, Arial; FONT-SIZE: 8pt
}
.n {
	FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt
}
.n2 {
	FONT-FAMILY: Verdana, Arial; FONT-SIZE: 9pt
}
.l {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.h {
	BACKGROUND-COLOR: #c0c8af; COLOR: #535353; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.t1 {
	BACKGROUND-COLOR: #f8f8f0; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt
}
.t2 {
	BACKGROUND-COLOR: #d8d8d0; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 10pt
}
